<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>

    <context:component-scan base-package="org.junbin.mvc" use-default-filters="false">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <!--                                                                                                -->
    <!-- 请求报文 ——》 HttpInputMessage  ——》 HttpMessageConverter ——》 Java对象 ——》 SpringMVC -->
    <!--                                                                                                -->
    <!--                                          HttpMessageConverter                        SpringMVC -->
    <!--                                                                                                -->
    <!-- 响应报文 《—— HttpOutputMessage 《—— HttpMessageConverter 《—— Java对象 《—— SpringMVC -->
    <!--                                                                                                -->

    <!-- 定义映射处理器，除了RequestMappingHandlerAdapter外还可以是AnnotationMethodHandlerAdapter -->
    <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
        <property name="messageConverters">
            <list>
                <!-- 定义String的请求响应转换器 -->
                <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                    <property name="writeAcceptCharset" value="false"/>
                    <property name="supportedMediaTypes">
                        <list>
                            <value>text/plain;charset=UTF-8</value>
                        </list>
                    </property>
                </bean>

                <!-- 定义byte[]数组的请求响应转换器 -->
                <bean class="org.springframework.http.converter.ByteArrayHttpMessageConverter"/>

                <!-- 定义json的请求响应转换器 -->
                <bean id="mappingJacksonHttpMessageConverter"
                      class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
                    <property name="supportedMediaTypes">
                        <list>
                            <value>application/json;charset=UTF-8</value>
                            <value>text/plain;charset=UTF-8</value>
                        </list>
                    </property>
                </bean>
            </list>
        </property>
    </bean>

</beans>